<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="MovieBrowser.Properties.Settings.MovieDBConnectionString"
            connectionString="Data Source=SERVER-PC;Initial Catalog=MovieDB;Persist Security Info=True;User ID=ossian-pc;Password=galenpannan87(/"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>